<%= render "shared/navbar-top-default" %>
<main class="content-middle">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#favoris-list" type="button" role="tab" aria-controls="favoris-list" aria-selected="true">Mes favoris</button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#forbiddent-list" type="button" role="tab" aria-controls="forbiddent-list" aria-selected="false">Mes indésirables</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="favoris-list" role="tabpanel" aria-labelledby="home-tab">
        <ul>
        <% @bookmarks.each do |bookmark| %>
          <div class="card-body">
            <%= link_to cheese_path(bookmark.cheese) do %>
              <%= image_tag bookmark.cheese.picture_url, class: "card-img-top", style: "border: 1px solid #1d4851; border-radius: 10px 10px 10px 10px;" %>
            <% end %>
            <div class="title-card-body">
              <h5 class="card-title"> <strong><%= bookmark.cheese.name %> </strong></h5>
              <div class="buttons-review-delete-card">
                <%= link_to "Supprimer", cheese_bookmark_path(bookmark.cheese, bookmark), data: {turbo_method: :delete, turbo_confirm: "Are your sure?"} %>
                <%= link_to "Noter", new_cheese_review_path(bookmark.cheese) %>
              </div>
            </div>
          </div>
        <% end %>
        </ul>
      </div>

      <div class="tab-pane fade" id="forbiddent-list" role="tabpanel" aria-labelledby="profile-tab">
          <ul>
          <% @forbiddens.each do |forbidden|%>
            <div class="card-body">
            <%= link_to cheese_path(forbidden.cheese) do %>
            <%= image_tag forbidden.cheese.picture_url, class: "card-img-top", style: "border: 1px solid #1d4851; border-radius: 10px 10px 10px 10px;" %>
            <% end %>
          <h5 class="card-title">
          <%= forbidden.cheese.name %></h5>
          </div>
          <% end %>
          </ul>
      </div>
  </div>

</main>
<%= render "shared/navbar-bottom-default" %>
