<%= render "shared/navbar-top-default" %>
<main class="content-middle">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= params[:bookmark_category] == 'forbidden' ? '' : 'active'%>", id="home-tab" data-bs-toggle="tab" data-bs-target="#favoris-list" type="button" role="tab" aria-controls="favoris-list" aria-selected="true">Mes envies</button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link <%= params[:bookmark_category] == 'forbidden' ? 'active' : ''%>", id="profile-tab" data-bs-toggle="tab" data-bs-target="#forbiddent-list" type="button" role="tab" aria-controls="forbiddent-list" aria-selected="false">Mes rejets</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show <%= params[:bookmark_category] == 'forbidden' ? '' : 'active show'%>", id="favoris-list" role="tabpanel" aria-labelledby="home-tab">
        <p class="bookmark-title-list"> Dégustez ces fromages et notez-les !</p>
        <ul>
        <% @bookmarks.each do |bookmark| %>
          <div class="card-body">
            <%= link_to cheese_path(bookmark.cheese) do %>
              <%= image_tag bookmark.cheese.picture_url, class: "card-img-top" %>
            <% end %>
            <div class="title-card-body">
              <h5 class="card-title"> <strong><%= bookmark.cheese.name %> </strong></h5>
              <% @review = bookmark.cheese.reviews.order(created_at: :desc).first %>
              <div class="d-flex" id="stars-bookmark">
                  <p class="star-rating-title"> <strong> Ma note : </strong> </p>
                  <% if @review %>
                    <% @review.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - @review.rating).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% end %>
              </div>
              <div class="buttons-review-delete-card" >
                <%= link_to "Retirer", cheese_bookmark_path(bookmark.cheese, bookmark, bookmark_category: "bookmark"), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"} %>
                <%= link_to "Noter", new_cheese_review_path(bookmark.cheese) %>
              </div>
            </div>
          </div>
        <% end %>
        </ul>
      </div>

      <div class="tab-pane fade <%= params[:bookmark_category] == 'forbidden' ? 'active show' : ''%>", id="forbiddent-list" role="tabpanel" aria-labelledby="profile-tab">
          <p class="bookmark-title-list"> Ces fromages n’apparaîtront plus dans vos recherches.</p>
          <ul>
          <% @forbiddens.each do |forbidden|%>
            <div class="card-body">
              <%= link_to cheese_path(forbidden.cheese) do %>
                <%= image_tag forbidden.cheese.picture_url, class: "card-img-top"%>
              <% end %>
              <div class="title-card-body">
                <h5 class="card-title"> <strong> <%= forbidden.cheese.name %> </strong></h5>
                <div class="buttons-review-delete-card">
                  <%= link_to "Retirer", cheese_destroy_forbiddens_path(forbidden.cheese, forbidden, bookmark_category: "forbidden"), class:" ", data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"} %>
                  <%= link_to "Noter", new_cheese_review_path(forbidden.cheese) %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
      </div>
  </div>

</main>
<%= render "shared/navbar-bottom-default" %>
