<%= render "shared/navbar-top-default" %>
<main class="content-middle">
  <div class="show-container">
  <h1 class="profile-title">Bienvenue <br> <strong> <%= @user.pseudo %> ! </strong></h1>
    <div class="basic-information">
      <p>Mon e-mail : <%= @user.email %></p>
      <p>Mon pseudo : <%= @user.pseudo %></p>
      <p>Fromages dont vous avez envie : <strong><%= @bookmarks.length %></strong> </p>
      <p>Fromages rejettés : <strong><%= @forbiddens.length %></strong> </p>
    </div>

    <h2 class="cheese-preferences"> <strong> Mes goûts</strong> </h2>
    <ul style="list-style-type: none; padding-left: 0">
      <li class="text-center">
        <p>Fromages au lait de vache: <strong> <%= @user.score_search_vache %></strong>/10</p>
      </li>
      <li class="text-center"><p>Fromages au lait de chèvre: <strong> <%= @user.score_search_chevre %></strong>/10</p></li>
      <li class="text-center"><p>Fromages au lait de brebis: <strong> <%= @user.score_search_brebis %></strong>/10</p></li>
    </ul>
    <%= link_to "Modifier mes préférences", question_1_path, id: "modifier-choix" %>
    <%= link_to "Commencer l'aventure Frometon !", root_path, id: "modifier-choix", class: "mt-3" %>
  </div>
</main>
<%= render "shared/navbar-bottom-default" %>
