<%= render "shared/navbar-top-default" %>
<main class="content-middle">
  <%= link_to root_path, style: "text-decoration: none;" do  %>
  <h1>Retour</h1>
  <% end %>
  <div class="card-product">
  <% @cheeses.each do |cheese| %>
    <div class="card-body">
      <%= link_to cheese_path(cheese) do %>
      <%= image_tag cheese.picture_url, class: "card-img-top"%>
      <% end %>
    <h5 class="card-title">
    <%= cheese.name %></h5>
    </div>
  </div>
  <% end %>
</main>
<%= render "shared/navbar-bottom-default" %>
