<%= render "shared/navbar-top-default" %>
<main class="content-middle">

<div id="fromage-list-region-parent">
  <h3 class="map-title"> <strong> Découvrez les fromages de nos régions <br></strong> </h3>
  <div class="entire-map">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div id= "fromage-list-region">
    <div id="wrapper-region">
      <div class="sticky-div">
        <h2 id="titre-region" ></h2>
        <%= image_tag "SVG/cross.svg", id: "icon-cross-region" %>
      </div>
      <div id="wrapper-child-region">
      </div>
    </div>
  </div>

</main>
<%= render "shared/navbar-bottom-default" %>
