<%= render "shared/navbar-top-default" %>
<main class="content-middle" id="content-middle" data-action="click->slide-cards#slideOff" data-controller="slide-cards">

    <% if user_signed_in? %>
      <%= image_tag "SVG/cross.svg", id: "icons-cross-user", data: { action: "click->slide-cards#user", slide_cards_target: "iconCross"} %>
      <i class="fa-regular fa-circle-xmark" data-action="click->slide-cards#scale"></i>
      <%= render "shared/cheese_show_card" %>
    <% else %>
      <div class="parent-cheese-card">
        <%= image_tag "SVG/cross.svg", id: "icons-cross-visitor", data: { action: "click->slide-cards#visitor", slide_cards_target: "iconCross"} %>
        <%= render "shared/cheese_show_card" %>
      </div>
    <% end %>

    <div class="buttons-cheese" data-slide-cards-target="cheeseButtons">
      <button id="button recipe" data-action="click->slide-cards#slideOn">Recettes</button>
      <button id="button wine" data-action="click->slide-cards#slideOn">Vins</button>
      <button id="button story" data-action="click->slide-cards#slideOn">Histoire</button>
    </div>

    <%# Affichage tinder-button si click icone croix && statut : user %>
    <div class="tinder-button" data-slide-cards-target="tinderButtons">
      <%= button_to "", cheese_bookmarks_path(@cheese), method: "post", class: "fa-solid fa-heart" %>
      <%= button_to "", cheese_forbidden_path(@cheese), method: "post", class: "fa-solid fa-xmark" %>
    </div>

    <%# Affichage sign-in-button si click icone croix && statut : %>
    <div id="sign-in-condition" data-slide-cards-target= "signIn">
      <%= link_to "Retour à la roulette", root_path, class: "home-path-btn" %>
      <div class= "sign-in-btn">
        <%= link_to "Créer ton compte", new_user_registration_path %>
        <p>Personnalise ton profil et découvre les fromages qui te correspondent</p>
      </div>

    </div>

    <div id="recipes-list" data-slide-cards-target="recipes" data-action="click->slide-cards#slideOff">
        <h2>Recettes du fromage</h2>
        <% @recipes.each do |r| %>
        <p><%= r.link_to_source %></p>
        <% end %>
    </div>
    <div id="wine-list" data-slide-cards-target="wine" data-action="click->slide-cards#slideOff">
        <h2>Les vins conseillés</h2>
        <p><%= @cheese.wine %></p>
    </div>
    <div id="story-list" data-slide-cards-target="story" data-action="click->slide-cards#slideOff">
        <h2>Histoire du fromage</h2>
        <p><%= @cheese.description_1 %></p>
    </div>
</main>
<%= render "shared/navbar-bottom-default" %>
