<%= render "shared/navbar-top-default" %>
<main class="content-middle" id="content-middle" data-action="click->slide-cards#slideOff" data-controller="slide-cards">
    <% if user_signed_in? %>
      <i class="fa-regular fa-circle-xmark" data-action="click->slide-cards#scale"></i>
    <% else %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <div id="cheese-card-show" data-slide-cards-target="card">
      <div id="top-card">
        <h1><%= @cheese.name %></h1>
        <%= image_tag @cheese.picture_url, class: "image-cheese-show" %>
      </div>
      <div id="bottom-card">
        <h2>Fromage de <%= @cheese.category.split("_")[0] %></h2>
        <div class="cheese-informations">
          <%= image_tag "SVG/fromage_1.svg", id: "icons-cheese" %>
          <p><%= @cheese.pate %></p>
        </div>
        <div class="cheese-informations">
          <%= render "shared/season_loader" %>
          <p><%= @cheese.saison %></p>
        </div>
        <div class="cheese-informations">
          <p>Affinage :</p>
          <p><%= @cheese.affinage %></p>
        </div>
      </div>
    </div>

    <div class="tinder-button" data-slide-cards-target="tinderButtons">
      <%= button_to "", cheese_bookmarks_path(@cheese), method: "post", class: "fa-solid fa-heart" %>
      <%= button_to "", cheese_forbidden_path(@cheese), method: "post", class: "fa-solid fa-xmark" %>
    </div>

    <div class="buttons-cheese" data-slide-cards-target="cheeseButtons">
      <button id="button recipe" data-action="click->slide-cards#slideOn">Recettes</button>
      <button id="button wine" data-action="click->slide-cards#slideOn">Vins</button>
      <button id="button story" data-action="click->slide-cards#slideOn">Histoire</button>
    </div>

    <%# <div id="sign-in-condition"> %>
      <%# <%= link_to "back to roulette", root_path %>
      <%# <%= link_to "créer un compte", new_user_registration_path%>
    <%# </div> %>

    <div id="recipes-list" data-slide-cards-target="recipes" data-action="click->slide-cards#slideOff">
        <h2>Recettes du fromage</h2>
        <% @recipes.each do |r| %>
        <p><%= r.link_to_source %></p>
        <% end %>
    </div>
    <div id="wine-list" data-slide-cards-target="wine" data-action="click->slide-cards#slideOff">
        <h2>Les vins conseillés</h2>
        <p><%= @cheese.wine %></p>
    </div>
    <div id="story-list" data-slide-cards-target="story" data-action="click->slide-cards#slideOff">
        <h2>Histoire du fromage</h2>
        <p><%= @cheese.description_1 %></p>
    </div>
</main>
<%= render "shared/navbar-bottom-default" %>
