<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@cheese.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @cheese.description_1 %>
<% content_for :meta_image, @cheese.picture_url %>


<%= render "shared/navbar-top-default" %>
<main class="content-middle" id="content-middle" data-action="click->slide-cards#slideOff" data-controller="slide-cards">
    <% if user_signed_in? %>
      <% if @bookmarks.any? { |bookmark| bookmark.cheese_id === @cheese.id} %>
          <%= link_to bookmarks_path, style: "text-decoration: none;" do  %>
            <%= image_tag("SVG/arrow.svg", width: '25px', id: "arrow-show-cheese") %>
          <% end %>
          <%= render "shared/cheese_show_card_bookmarks" %>
        <div class="verif-favoris">
          <p>Ce fromage est déjà présent dans vos envies</p>
        </div>
      <% elsif @forbiddens.any? { |forbidden| forbidden.cheese_id === @cheese.id}%>
          <%= link_to bookmarks_path, style: "text-decoration: none;" do  %>
            <%= image_tag("SVG/arrow.svg", width: '25px', id: "arrow-show-cheese") %>
          <% end %>
          <%= render "shared/cheese_show_card_bookmarks" %>
        <div class="verif-favoris">
          <p>Ce fromage est déjà présent dans vos rejets</p>
        </div>
      <% else %>
        <div class="parent-cheese-card">
          <%= image_tag "SVG/cross.svg", id: "icons-cross-user", data: { action: "click->slide-cards#user", slide_cards_target: "iconCross"} %>
          <%= render "shared/cheese_show_card" %>
        </div>
      <% end %>
    <% else %>
      <div class="parent-cheese-card">
        <%= image_tag "SVG/cross.svg", id: "icons-cross-visitor", data: { action: "click->slide-cards#visitor", slide_cards_target: "iconCross"} %>
        <%= render "shared/cheese_show_card" %>
      </div>
    <% end %>

    <div class="buttons-cheese" data-slide-cards-target="cheeseButtons">
      <button id="button recipe" data-action="click->slide-cards#slideOn">Recettes</button>
      <button id="button wine" data-action="click->slide-cards#slideOn">Vins</button>
      <button id="button story" data-action="click->slide-cards#slideOn">Histoire</button>
    </div>

    <%# Affichage tinder-button si click icone croix && statut : user %>
    <div class="tinder-button" data-slide-cards-target="tinderButtons">
      <h4>Ajouter à ma liste d'envies</h4>
      <div class="buttons-tinder" >
        <%= button_to "", cheese_forbidden_path(@cheese), method: "post", class: "fa-solid fa-xmark" %>
        <%= link_to "Passer", root_path, class: "skip" %>
        <%= button_to "", cheese_bookmarks_path(@cheese), method: "post", class: "fa-solid fa-heart" %>
      </div>
    </div>

    <%# Affichage sign-in-button si click icone croix && statut : %>
    <div id="sign-in-condition" data-slide-cards-target= "signIn">
      <div class= "sign-in-btn">
        <%= link_to "Créer ton compte", new_user_registration_path %>
        <p>Personnalise ton profil et découvre les fromages qui te correspondent</p>
      </div>
      <%= link_to "Retour à la roulette", root_path, class: "home-path-btn" %>
    </div>

    <div id="recipes-list" data-slide-cards-target="recipes" data-action="click->slide-cards#slideOff">
      <div class="wrapper-child">
        <%= image_tag "SVG/cross.svg", id: "icon-cross-recipe" %>
        <h1>Recettes</h1>
        <% @recipes.each do |r| %>
          <div class="recipes-item">
            <%= image_tag(r.picture_url) %>
            <div class="content-recipe" >
              <p><%= r.content %></p>
              <%= link_to "Voir sur Marmiton", r.link_to_source, target: "_blank", class: "link-button-recipe" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="wine-list" data-slide-cards-target="wine" data-action="click->slide-cards#slideOff">
      <div class="wrapper-child">
        <%= image_tag "SVG/cross.svg", id: "icon-cross-wine" %>
        <% if @cheese.wine === "non renseigné" %>
          <div class="wine-image"></div>
          <h1>Vins conseillés</h1>
          <p>Nous ne disposons pas d'informations concernant les meilleurs vins pour ce fromage</p>
        <% else %>
          <div class="wine-image"></div>
          <h1>Vins conseillés</h1>
          <p><%= @cheese.wine %></p>
        <% end %>

      </div>
    </div>
    <div id="story-list" data-slide-cards-target="story" data-action="click->slide-cards#slideOff">
      <div class="wrapper-child">
        <%= image_tag "SVG/cross.svg", id: "icon-cross-story" %>
        <div class="affinage-image" ></div>
        <h1>Histoire</h1>
        <p><%= @cheese.description_1 %></p>
        <h1>Temps d'affinage</h1>
        <p><%= @cheese.affinage %></p>
        <h1>Région d'origine</h1>
        <p class="region-information"> <%= @cheese.region %> </p>
      </div>
    </div>
</main>
<%= render "shared/navbar-bottom-default" %>
