<nav class="navbar-bottom">
  <%= link_to root_path, style: "text-decoration: none;" do  %>
    <%= image_tag "SVG/cheese-home", width: '25px', id: "icon-cheese-home" %>
  <% end %>
    <%= link_to "", bookmarks_path, class: "fa-solid fa-bookmark" %>
    <%= link_to show_path, style: "text-decoration: none;" do  %>
    <%= image_tag "SVG/user", width: '25px', id: "icon-user-profile" %>
  <% end %>
</nav>
