<%= render "shared/navbar-top-default" %>
<main class="content-middle homepage" data-controller="roulette">
  <div>
    <div>
      <%= image_tag("roulette.png", width: '70%', id: "image-roulette") %>
    </div>
    <div class="search-roulette">
      <div data-roulette-target="parameters" class="d-none" id="form_roulette">
        <div data-action="click->roulette#close" id= "icons-cross-home">
          <%= image_tag "SVG/cross.svg" %>
        </div>
        <%= form_tag(result_path, method: :get, class: :"") do %>
          <div>
            <p>Lait de :</p>
            <div>
              <%= label_tag :"Vache" %>
              <%= check_box_tag :vache, 1, true, class: "form-check-input" %>
            </div>
            <div>
              <%= label_tag :"Brebis" %>
              <%= check_box_tag :brebis, 1, true, class: "form-check-input" %>
            </div>
            <div>
              <%= label_tag :"Chèvre" %>
              <%= check_box_tag :chèvre, 1, true, class: "form-check-input" %>
            </div>
          </div>
          <div>
            <p>Produit uniquement :</p>
            <div>
              <%= label_tag :"AOP" %>
              <%= check_box_tag :AOP, 0, false, class: "form-check-input" %>
            </div>
            <div>
              <%= label_tag :"pour femme enceinte" %>
              <%= check_box_tag :enceinte, 0, false, class: "form-check-input" %>
            </div>
          </div>
            <%= submit_tag :"Chercher un fromage" %>
        <% end %>
      </div>
      <%= button_to 'Chercher un fromage', result_path, id: "fromage-search", class: "justify-content-center",  method: "get", params: {search_all: true}, data: { roulette_target: 'button'} %>
      <button id= "personnaliser" data-action="click->roulette#display" data-roulette-target="btn2">Personnaliser ma recherche</button>
    </div>
  </div>

</main>
<%= render "shared/navbar-bottom-default" %>
