<%= render "shared/navbar-top-default" %>
<main class="content-middle homepage" data-controller="roulette">
  <div data-controller="infos">
    <div id="image-roulette">
      <div id="roulette-svg" data-roulette-target="svg">
        <%= image_tag("SVG/roulette.svg") %>
      </div>
    </div>
    <div class="search-roulette">
      <div data-roulette-target="parameters" class="d-none" id="form_roulette">
        <div data-action="click->roulette#close" id= "icons-cross-home">
          <%= image_tag "SVG/cross.svg" %>
        </div>
        <%= form_tag(result_path, method: :get, id: "form-home", data: { roulette_target: "form" }) do %>
          <div>
            <p class="text-center">Lait de :</p>
            <div class="d-flex justify-content-between">
              <%= check_box_tag :Vache, 1, true, class: "tag-selector" %>
              <%= label_tag :"Vache" %>
              <%= check_box_tag :Brebis, 1, true, class: "tag-selector" %>
              <%= label_tag :"Brebis" %>
              <%= check_box_tag :Chèvre, 1, true, class: "tag-selector" %>
              <%= label_tag :"Chèvre" %>
            </div>
          </div>
          <div>
            <p class="text-center mt-2">Produit uniquement :</p>
            <div class="d-flex justify-content-between">
              <%= check_box_tag :AOP, 0, false, class: "tag-selector" %>
              <%= label_tag :"AOP" %>

              <%= check_box_tag :pour_femme_enceinte, 0, false, class: "tag-selector" %>
              <%= label_tag :"pour femme enceinte" %>
            </div>
          </div>
            <%= button_tag :"Chercher un fromage", type: "button", id: "second-search", data: { action: "click->roulette#rotate" } %>
        <% end %>
      </div>
      <%= button_to 'Chercher un fromage', result_path, id: "fromage-search", class: "justify-content-center",  method: "get", params: {search_all: true}, data: { roulette_target: 'button', action: "click->roulette#rotateBis" } %>
      <button id= "personnaliser" data-action="click->roulette#display" data-roulette-target="btn2">Personnaliser ma recherche</button>
    </div>
    <div class="question" data-action="click->infos#infoSlide">
        <%= image_tag "SVG/question.svg", width: '45px', id:"icon-?" %>
    </div>
    <div class="infoslide" data-infos-target="info">
          <h2><strong>Pourquoi Frometon ?</strong></h2>
          <p>Frometon est ton assistant personnel, côté fromage ! <br>L’application te permet de trouver le produit qui te correspond.<br> Complète ton profil avec ton goût pour chaque type de fromage, ou personnalise directement ta recherche sur cette page : Frometon se charge du reste !</p>
    </div>
  </div>

</main>
<%= render "shared/navbar-bottom-default" %>
