<%= render "shared/navbar-top-default" %>
<main class="content-middle homepage" data-turbo="false">
  <div id="cheese-result">
    <% if @cheese != [] && @cheese != nil %>
      <div id="cheese-result-card">
        <div class="d-flex" style="align-self: end;flex-direction: column">
          <h1><%= @cheese.name %></h1>
          <%= link_to "Voir ce fromage", cheese_path(@cheese) %>
        </div>
        <%= image_tag @cheese.picture_url %>
      </div>
          <%= link_to "Trouver un autre fromage", reload_page_path, id: "link-second-result" %>
          <br>
          <%= link_to "Modifier mes paramètres", root_path, id: "link-second-result" %>
    <% else %>
      <p class="text-center mb-5">Pas de fromage pour vos critères de recherche...</p>
      <%= link_to "Modifier mes paramètres", root_path, id: "link-second-result" %>
    <% end %>
  </div>
</main>
<%= render "shared/navbar-bottom-default" %>
