<%= render "shared/navbar-top-default" %>
<main class="content-middle">
  <%= @cheese.name %>
  <%= image_tag @cheese.picture_url %>
  <%= link_to "Voir ce fromage", cheese_path(@cheese) %>
  <%= link_to "Relancer la recherche", result_path %>
  <%= link_to "retourner modifier mes paramètres", root_path %>
</main>
<%= render "shared/navbar-bottom-default" %>
