<!DOCTYPE html>
<html>
  <head>
    <title>Frometon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'emmental.png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet">
    <%= display_meta_tags og: { image: image_url('app/assets/images/frometon_cover.jpeg') } %>
  </head>
  <body>
    <section class="layout">
      <%= yield %>
    </section>
    <%= render "shared/flashes" %>
  </body>
</html>
