<!DOCTYPE html>
<html>
  <head>
    <title>Frometon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="layout">
        <nav class="navbar-top">
            <i class="fa-solid fa-arrow-left"></i>
            <h4>Title Page</h4>
            <i class="fa-solid fa-bars"></i>
        </nav>
        <main class="content-middle">
            <%= yield %>
        </main>
        <nav class="navbar-bottom">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-bookmark"></i>
            <i class="fa-solid fa-user"></i>
        </nav>
    </section>
    <%= render "shared/flashes" %>
  </body>
</html>
